<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler,NHibernate" />
	</configSections>

	<hibernate-configuration  xmlns="urn:nhibernate-configuration-2.2" >
	    <session-factory name="NHibernate.Test">
		<property name="connection.driver_class">NHibernate.Driver.NpgsqlDriver</property>
		<property name="connection.connection_string">
			Server=VIP;Port=5432;Database=PruebaUsuario;Username=admin;Password=admin;
		</property>
		<property name="dialect">NHibernate.Dialect.PostgreSQL83Dialect</property>
			<property name="current_session_context_class">web</property>
	   </session-factory>
     </hibernate-configuration>

	
</configuration>
